<div
  *ngIf="slot"
  class="slot"
  [ngClass]="{'used': slot.slotUsed}"
  [ngStyle]="{'background-color' : getBackgroundGradiant(slot.spellLevel)}"
  (click)="expendSpell()"
  [cdkContextMenuTriggerFor]="context_menu"
>
  <p style="margin-top: 15px;">{{slot.slotAbrev}}</p>
</div>

<ng-template #context_menu>
  <div class="example-menu" cdkMenu>
    <button
      *ngIf="slot.slotUsed && allowRecovery"
      class="example-menu-item"
      cdkMenuItem
      (click)="recover()"
    >
      Recover
    </button>
  </div>
</ng-template>
