<div class="login-container">
  <div class="row">
    <div class="col-12 text-center">
      <h1>Welcome to Spell Slot Tracker!</h1>
      <p>Please sign in to access your characters</p>
    </div>
  </div>
  
  <div class="row mt-4">
    <div class="col-md-6 offset-md-3">
      <div class="card">
        <div class="card-body text-center">
          <h3>Sign In</h3>
          
          <div class="mt-4">
            <button class="btn btn-primary btn-block mb-3" (click)="signInWithGoogle()">
              <i class="fab fa-google me-2"></i>Sign in with Google
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
