<!--The content below is only a placeholder and can be replaced.-->
<div>
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<ng-template #context_menu>
  <div class="example-menu" cdkMenu>
    <button class="example-menu-item" cdkMenuItem (click)="clearLocalStorage()">
      Clear Stored Characters
    </button>
  </div>
</ng-template>
<div class="row" *ngIf="!editCharacterObj">
  <div class="col">
    Character:
    <select [(ngModel)]="selectedCharacterID" (change)="chooseCharacter()">
      <ng-container *ngFor="let c of characters">
        <option [value]="c.characterID">
          {{ c.characterName }}
        </option>
      </ng-container>
    </select>
  </div>
  <div class="col">
    <button
      type="button"
      class="btn btn-primary"
      title="Click to create a brand new Character"
      (click)="createNewCharacter()"
      [cdkContextMenuTriggerFor]="context_menu"
    >
      Add New
    </button>
  </div>
</div>
<div class="row" *ngIf="!editCharacterObj && selectedCharacter">
  <div class="col">
    <button
      type="button"
      class="btn btn-primary"
      title="Click to edit the details for this Character"
      (click)="editCharacter(selectedCharacter)"
    >
      Edit {{ selectedCharacter.characterName }}
    </button>
    &nbsp;
    <button
      type="button"
      class="btn btn-danger"
      title="Click to delete this Character"
      (click)="deleteCharacter(selectedCharacter)"
    >
      Delete {{ selectedCharacter.characterName }}
    </button>
    <br />
    <character-sheet [character]="selectedCharacter"></character-sheet>
  </div>
</div>
<div class="row" *ngIf="editCharacterObj">
  <div class="col">
    <character-editor
      [(character)]="editCharacterObj"
      (onSave)="saveCharacter($event)"
    ></character-editor>
  </div>
</div>
