div {
  text-align: center;
}

.row {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  width: 100%;
}

.col {
  margin: 1px;
}

.slotRow {
  display: grid;
  grid-template-columns: auto auto auto auto;
  width: 100%;
}
