<div class="container">
  <div class="row">
    <div class="col-10">
      <h1>
        Welcome to {{ title }}!
      </h1>
    </div>
    <div class="col-2" *ngIf="user">
      <div style="display: flex; align-items: center; justify-content: flex-end;">
        <div style="display: flex; flex-direction: column; align-items: center; margin-right: 10px;">
          <img 
            *ngIf="user.user_metadata['avatar_url']" 
            [src]="user.user_metadata['avatar_url']" 
            alt="User avatar" 
            class="rounded-circle" 
            style="width: 32px; height: 32px; object-fit: cover;"
          >
          <span class="small">{{ user.user_metadata['full_name'] || user.email }}</span>
        </div>
        <button class="btn btn-sm btn-outline-secondary" (click)="signOut()">Sign Out</button>
      </div>
    </div>
  </div>

  <!-- Router outlet for the different views -->
  <router-outlet></router-outlet>
</div>
