<div class="row">
  <div class="col">
    Character Name: {{ character.characterName }} <br />
    Character Class: {{ character.characterClass }} <br />
    Character Level: {{ character.characterLevel }} <br />
    <button
      type="button"
      title="Click to reset all of you Spell Slots for the day"
      (click)="longRest(true)"
    >
      Long Rest
    </button>
  </div>
  <div class="col">
    Slots
    <div class="row" *ngFor="let s of character.spells">
      <div class="slotRow">
        <ng-container *ngFor="let l of s.slots">
          <slot-tracker [slot]="l"></slot-tracker>
        </ng-container>
      </div>
    </div>
  </div>
</div>
