<div class="row">
  <div class="col">
    <div class="row">
      <div class="col align-right">
        Character Name:
      </div>
      <div class="col align-left">
        <input type="text" [(ngModel)]="character.characterName" />
      </div>
    </div>
    <div class="row">
      <div class="col align-right">
        Character Class:
      </div>
      <div class="col align-left">
        <select [(ngModel)]="character.characterClass">
          <option [value]="1">Barbarian</option>
          <option [value]="2">Bard</option>
          <option [value]="3">Cleric</option>
          <option [value]="4">Druid</option>
          <option [value]="5">Fighter</option>
          <option [value]="6">Monk</option>
          <option [value]="7">Paladin</option>
          <option [value]="8">Ranger</option>
          <option [value]="9">Rogue</option>
          <option [value]="10">Sorcerer</option>
          <option [value]="11">Warlock</option>
          <option [value]="12">Wizard</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col align-right">
        Character Level:
      </div>
      <div class="col align-left">
        <input
          type="number"
          style="width: 40px;"
          [(ngModel)]="character.characterLevel"
          min="0"
          max="20"
        />
      </div>
    </div>
    <div class="row">
      <div class="col">
        Spell Slots:
      </div>
    </div>
    <div class="row" *ngFor="let s of character.spells">
      <div class="col align-right">
        {{s.lvlName}}
      </div>
      <div class="col align-left">
        <input
          type="number"
          style="width: 40px;"
          [(ngModel)]="s.maxSlots"
          min="0"
          max="20"
        />
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button
          type="button"
          class="btn btn-primary"
          title="Click to save this character and return to the Character Screen"
          (click)="save()"
        >
          Save
        </button>
        &nbsp;
        <button
          type="button"
          class="btn btn-secondary"
          title="Click to cancel creating this character"
          (click)="cancel()"
        >
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>
