/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

// Include the common styles for Angular Material. 
@include mat.core();

/* -------------------------------------------
Right Click Menu
*/
.example-menu {
    display: inline-flex;
    flex-direction: column;
    min-width: 180px;
    max-width: 280px;
    background-color: rgb(255, 255, 255);
    padding: 6px 0;
}

.example-menu-item {
    background-color: transparent;
    cursor: pointer;
    border: none;

    user-select: none;
    min-width: 64px;
    line-height: 36px;
    padding: 0 16px;

    display: flex;
    align-items: center;
    flex-direction: row;
    flex: 1;
}

.example-menu-item:hover {
    background-color: rgb(208, 208, 208);
}

.example-menu-item:active {
    background-color: rgb(170, 170, 170);
}
/*--------------------------------------------*/

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.btn-help {
    height: 15px;
    width: 15px;
    background: #ccc;
    text-align: center;
    border-radius: 100% !important;
    cursor: pointer;
    font-size: 10px !important;
    border: solid 1px gray !important;
    padding: 0px !important;
    margin: 2px;
}

.btn-help:hover {
    background: gray !important;
}

.chip-list { 
    width:75%;
}

.cdk-overlay-container {
    position: fixed;
    z-index: 1000;
}
.cdk-overlay-container,
.cdk-global-overlay-wrapper {
    pointer-events: none;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.cdk-overlay-connected-position-bounding-box {
    position: absolute;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    min-width: 1px;
    min-height: 1px;
}
.cdk-overlay-pane {
    position: absolute;
    pointer-events: auto;
    box-sizing: border-box;
    z-index: 1000;
    display: flex;
    max-width: 100%;
    max-height: 100%;
}
.cdk-visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
    outline: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    left: 0;
}
/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
